@use "styles/variables" as *;

.page {
  width: 100%;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-inline: auto;
  padding: 32px 16px 48px;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
